<ion-card>
  <ion-card-header>
    <ion-text>
      <h5>Today's hottest escorts</h5>
      <ion-icon name="information"></ion-icon>
    </ion-text>
  </ion-card-header>
  <div class="item-divider"></div>
  <ion-card-content>
    <ion-text color="dark">
      <h6 class="top-escort">1. Apple</h6>
    </ion-text>
    <p>Sexiest gal in Westlands</p>
    <ion-text color="dark">
      <h6 class="top-escort">2. Linda</h6>
    </ion-text>
    <p>Sexy & wild at TRM</p>
    <ion-button color="medium" size="smaill" fill="clear"> View all recommandations
    <ion-icon 
        class="ion-padding" 
        color="dark" 
        name="arrow-forward-outline">
    </ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-text>
      <h5>Best Betting Sites in Kenya</h5>
      <ion-icon name="information"></ion-icon>
    </ion-text>
  </ion-card-header>
  <div class="item-divider"></div>
  <ion-card-content>
    <ion-text color="dark">
      <h6 class="top-escort">1. OdiBets</h6>
    </ion-text>
    <p>Play live cassinos online</p>
    <ion-text color="dark">
      <h6 class="top-escort">2. Betika</h6>
    </ion-text>
    <p>Best odds in town</p>
    <ion-text color="dark">
      <h6 class="top-escort">3. Flooks</h6>
    </ion-text>
    <p>Fast cashouts</p>
    <ion-button color="medium" size="smaill" fill="clear"> View all recommandations
    <ion-icon 
        class="ion-padding" 
        color="dark" 
        name="arrow-forward-outline">
    </ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>
<!-- <ion-card>
  <ion-card-header>
    <ion-text>
      <h5>Best Adult Telegram Channels</h5>
      <ion-icon name="information"></ion-icon>
    </ion-text>
  </ion-card-header>
  <ion-card-header>
    <ion-text color="dark">
      <h6 class="top-escort">1. Nairobinstant</h6>
    </ion-text>
    <p>nairobinstant | Good quality images and videos</p>
  </ion-card-header>
</ion-card> -->
