<ion-card>
  <ion-card-header-ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col>
      <ion-img src="../../../../../assets/nai.jpg"></ion-img>
      </ion-col>
      <ion-col>
        <ion-card-title>Call</ion-card-title>
        <ion-card-subtitle>254716877970</ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-card-header-ion-grid>
</ion-card>
