<ion-header class="ion-container ion-no-border">
<ion-toolbar >
  <div class="toolbar-wrapper">
    <ion-buttons slot="start" class="ion-no-padding">
      <!-- <ion-button>
        <ion-icon 
        color="primary" 
        class="linkedin-logo" 
        name="logo-linkedin">

        </ion-icon>
      </ion-button> -->
    <ion-searchbar 
        color="danger" 
        class="ion-hide-lg-down" 
        placeholder="Search">

    </ion-searchbar>
    </ion-buttons>

    <ion-grid>
      <ion-row class="ion-justify-content-end">
       
        <ion-col class="ion-hide-md-down" size="auto">
        <ion-icon 
        color="primary"
        class="hot-icon"
        name="flame-sharp"></ion-icon>
          <ion-badge
          color="tertiary"
          style="position: absolute; margin-left: -10px; margin-top: -5px; height: 16px; width: 16px; border-radius: 9999px">
            8
          </ion-badge>
         <div>Hot Escorts</div>
        </ion-col>

        <ion-col 
        class="ion-hide-md-down" size="auto">
        <ion-icon 
        color="primary"
        class="hot-icon"
        name="storefront-sharp"></ion-icon>
          <div>Agencies</div>
        </ion-col>

        <ion-col 
        (click)="presentPopover($event)"
        class="ion-hide-md-down" size="auto">
        <ion-icon 
        color="primary"
        class="hot-icon"
        name="call-sharp"></ion-icon>
          <div>Contact</div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-toolbar>
</ion-header>