.toolbar-wrapper {
    display: flex;
    max-width: 1128px;
    margin: auto;
}
.linkedin-logo {
    font-size: 40px;
}

ion-col div, ion-badge{
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
}
ion-searchbar {
    --box-shadow: none;
    transform: scale(0.8);
    margin-left: -40px;
    font-style: italic;
}

ion-icon {
    font-size: 24px;
}
ion-col {
    width: 80px !important;
    text-align: center;
}

ion-header {
    border-bottom: 1px solid var(--ion-color-primary-tint);
}
